<link href="{{ 'styles-my-program-content.css' | asset_url }}" rel="stylesheet">

<div class="program-content">
  <h3 class="program-title">{{ block.settings.my_program_title }}</h3>
  <div class="program-features">
    <p class="feature-item">{{ block.settings.my_program_feature_1 }}</p>
    <p class="feature-item">{{ block.settings.my_program_feature_2 }}</p>
    <p class="feature-item">{{ block.settings.my_program_feature_3 }}</p>
  </div>
  <div class="tasks-container" id="tasks-container">
    <p>{{ 'loyalty_widget.other.loading_tasks' | t }}</p>
  </div>
</div>
