<div id="loyalty-spa-root">
  <div class="loyalty-spa-container">
    <div id="loyalty-page-content">
      <div data="div-content" class="loyalty-page" id="my-rewards-content" style="display: block;">
        {% render 'my-rewards-content' %}
      </div>
    </div>
  </div>
</div>

<script>
  // Data of user available for make requests to API in all tabs
  window.loyaltyConfig = {
    customerId: '{{ customer.id }}',
    customerEmail: '{{ customer.email }}',
    shop: '{{ shop.permanent_domain }}',
  };
</script>

<script src="{{ 'loader-my-rewards.js' | asset_url }}" defer></script>
<link href="{{ 'styles-loyalty-app.css' | asset_url }}" rel="stylesheet">

{% schema %}
{
  "name": "Loyalty Widget",
  "target": "section",
  "settings": []
}
{% endschema %}
